<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>OrganizAI Welcome Page</title>
</head>
<body>
    <div class="header">
        <section class="sign">
            <button class="sign-in">Sign In</button>
            <button class="sign-up">Sign Up</button>
        </section>
        <img src="images/img1.png" class="img1">
        <h1 class="Welcome">Welcome to <span class="welcome-name">OrganizAI</span></h1>
    </div>
    <div class="middle">
        <P class="briefing">OrganizAI is more than just an agenda! Say goodbye to chaos and hello to efficient scheduling and task management!</P>
        <button class="get-started">Get Started!</button>
        <section class="summary-section">
        <p class="summary">OrganizAI is an innovative project with a mission: 
            To harness the potential of AI and transform the way you manage your time. 
            We're not just another calendar app, we're your intelligent assistant focused on helping you make the most out of every moment.</p>
            <ol>
                <li>Task Prioritization: AI-driven task prioritization based on goals and deadlines.</li>
                <li>Time Analysis: Insights into time usage for productivity enhancement.
                    And more features!</li>
            </ol>
        </section>
    </div>
    <footer>
        <section class="social-media">
            <img src="images/instagram.png" alt="" class="instagram">
            <img src="images/github.png" alt="" class="github">
            <img src="images/linkedin.png" alt="" class="linkedin">
        </section>
        <span class="footer-span">About Us<span class="footer-span contact">Contact</span></span>
        <p class="footer-©">© 2023 OrganizAI. All rights reserved.</p>
    </footer>
    
</body>
</html>