<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Login Page</title>
</head>
<body>
    <header>
        <button class="arrow-button"></button>
    </header> 
    <main>
        <section class="calendar"><img class="calendar-image" src="images/Vector.png"></section>
        <section class="sign-in">
            <h1 class="welcome-back">Welcome Back</h1>
            <span class="disclaimer">Keep connected please login with your personal info!</span>
            <button>SIGN IN</button>
        </section>
        <section class="sign-up">
            <h1>Create Account</h1>
            <button>Google Button</button>
            <button>Linkedin Button</button>
            <button>Github Button</button>
            <span>or use your email to registration</span>
            <input type="text" id="username-field" name="fname"><br><br>
            <input type="text" id="email-field" name="fname"><br><br>
            <input type="text" id="password-field" name="fname"><br><br>
        </section>
    </main>
    <footer>
        <section class="social-media">
            <img src="images/instagram.png" alt="" class="instagram">
            <img src="images/github.png" alt="" class="github">
            <img src="images/linkedin.png" alt="" class="linkedin">
        </section>
        <span>About Us<span class="contact">Contact</span></span>
        <p class="footer-©">© 2023 OrganizAI. All rights reserved.</p>
    </footer>
</body>
</html>